<a href="https://colab.research.google.com/github/NabilahYK/PROGRAMMING-EXAM2/blob/main/ProgrammingExam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import drive to link it with colab to allow use of content
from google.colab import drive; drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importing modules as needed
import pandas as pd

In [3]:
#import datafile into variable and check
xls = pd.ExcelFile("/content/drive/MyDrive/referencetablescoldepressionfinal0612.xlsx")
xls

In [4]:
#get 1 sheeet only, put it into df1, read and check
xls = pd.ExcelFile("/content/drive/MyDrive/referencetablescoldepressionfinal0612.xlsx")
df1 = pd.read_excel(xls, '1.1')
df1

,"Worksheet 1.1: Trends in depressive symptoms of adults by age, sex, disability and country [note 1]",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,"Great Britain, July 2019 to October 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Source: Opinions and Lifestyle Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date published: 6 December 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,This worksheet contains 3 tables. Tables 1.1a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table 1.1a contains percentage estimates. Tabl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Some cells refer to notes which can be found i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Some cells in these tables are empty because t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,LCL = lower confidence interval. UCL = upper c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Freeze panes are turned on. To turn off freeze...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Return to table of contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Table 1.1a: Estimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Depressive symptoms of adults over time,All \npersons\n%,Aged 16 to 39 years\n%,Aged 40 to 69 years\n%,Aged\n70 and over\n%,Men \n%,Women \n%,Disabled [note 2] \n%,Non-disabled [note 2]\n%,England\n%,...,Disabled\nLCL,Disabled\nUCL,Non- disabled\nLCL,Non-disabled\nUCL,England\nLCL,England\nUCL,Wales\nLCL,Wales \nUCL,Scotland\nLCL,Scotland\nUCL
12,September to October 2022:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,No or mild symptoms,84,77,85,92,86,81,65,93,84,...,61,68,92,95,83,86,72,89,71,86
14,Moderate to severe symptoms,16,23,15,8,14,19,35,7,16,...,32,39,5,8,14,17,11,28,14,29
15,July to August 2021:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,No or mild symptoms,83,77,85,91,86,80,64,92,83,...,62,66,91,93,82,84,80,89,78,85
17,Moderate to severe symptoms,17,23,15,9,14,20,36,8,17,...,34,38,7,9,16,18,11,20,15,22
18,January to March 2021:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,No or mild symptoms,79,71,82,90,83,76,61,87,79,...,59,62,86,88,79,80,70,80,78,85
20,Moderate to severe symptoms,21,29,18,10,17,24,39,13,21,...,38,41,12,14,20,21,20,30,15,22
21,November 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,No or mild symptoms,81,74,83,92,85,78,61,89,81,...,58,63,88,90,81,82,72,86,75,84
23,Moderate to severe symptoms,19,26,17,8,15,22,39,11,19,...,37,42,10,12,18,19,14,28,16,25
24,June 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,No or mild symptoms,81,69,87,90,85,77,65,88,82,...,59,71,85,92,78,85,61,90,63,87
26,Moderate to severe symptoms,19,31,13,10,15,23,35,12,18,...,29,41,8,15,15,22,10,39,13,37
27,July 2019 to March 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,No or mild symptoms,90,89,90,95,93,88,73,96,91,...,67,78,95,98,89,93,72,94,76,94
29,Moderate to severe symptoms,10,11,10,5,7,12,27,4,9,...,22,33,2,5,7,11,6,28,6,24
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Table 1.1c: Associated weighted counts and sam...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Data collection periods,All persons,Aged 16 to 39 years,Aged 40 to 69 years,Aged 70 and over,Men,Women,Disabled,Non-disabled,England,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,September to October 2022:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Weighted count,52183416,18713137,24528330,8941949,26634344,25549071,15297685,33589886,45144786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Sample size,4270,710,1950,1610,1850,2420,1470,2570,3840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,July to August 2021:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Weighted count,52179216,19595325,23841407,8742484,25619767,26559449,13756151,35314685,45154593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Sample size,13770,3270,6570,3940,6320,7450,3980,9070,12600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,January to March 2021:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Weighted count,52284948,19453529,24179312,8652108,25624689,26660259,11971125,37492794,45228128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Sample size,25940,7370,12570,5990,12160,13780,6440,18240,24870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,November 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Weighted count,51968312,19279359,24205316,8483637,25458762,26509550,12291630,36990795,44931029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Sample size,12360,3430,5800,3130,5700,6660,3200,8600,11820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,June 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Weighted count,52104171,19195574,23666049,9242548,25526819,26577351,13326282,36376999,45062573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Sample size,3530,270,1960,1300,1630,1900,1040,2390,2770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,July 2019 to March 2020:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Weighted count,51943266,19380878,23744434,8817953,25425855,26517411,13277348,36267564,44915416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Sample size,3530,280,2030,1210,1630,1900,1040,2390,2770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN